<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../dashboard']">
      <i nz-icon type="home"></i>หน้าหลัก
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    แฟ้มข้อมูลหลัก
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    จัดการข้อมูลแผนก
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card nzTitle="จัดการข้อมูลแผนก">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <nz-row nzGutter="16">
      <nz-col class="gutter-row" nzSpan="16" nzOffset="4" nzGutter="8">
        <nz-input-group nzSearch [nzSuffix]="suffixButton">
          <input type="text" formControlName="search" nz-input placeholder="รหัสแผนก, รหัสบริษัท, รหัสสาขา, ชื่อแผนก, ใช้งาน">
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" (click)="search()" nzSearch>ค้นหา</button>
        </ng-template>
      </nz-col>
      <nz-col class="gutter-row" nzSpan="4" nzGutter="8" style="text-align:right;">
        <button nz-button nzType="primary" (click)="addModal()"><i nz-icon type="plus"
            theme="outline"></i>เพิ่ม</button>
      </nz-col>
    </nz-row>
  </form>

  <nz-row>
    <nz-col nzSpan="24">
      <nz-table #basicTable [nzData]="displayData">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th nzShowSort nzSortKey="dep_code">รหัสแผนก</th>
            <th nzShowSort nzSortKey="company_code">รหัสบริษัท</th>
            <th nzShowSort nzSortKey="branch_code">รหัสสาขา</th>
            <th nzShowSort nzSortKey="dep_name">ชื่อแผนก</th>
            <th nzShowSort nzSortKey="dep_active">ใช้งาน</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of displayData">
            <td (click)="editModal(data.dep_id)">{{data.dep_code}}</td>
            <td>{{data.company_code}}</td>
            <td>{{data.branch_code}}</td>
            <td>{{data.dep_name}}</td>
            <td><span nz-checkbox [(ngModel)]="data.dep_active" [nzDisabled]="true"></span></td>
            <td>
              <button nz-button nzType="danger" nzShape="circle" (click)="delete(data.dep_id)"><i nz-icon type="delete"
                  theme="outline"></i></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>

</nz-card>

<ng-template #addFooter>
  <button nz-button nzType="default" (click)="addCancel()">ยกเลิก</button>
  <button nz-button nzType="primary" (click)="addOk()">ตกลง</button>
</ng-template>

<ng-template #editFooter>
  <button nz-button nzType="default" (click)="editCancel()">ยกเลิก</button>
  <button nz-button nzType="primary" (click)="editOk()">ตกลง</button>
</ng-template>

<nz-modal [(nzVisible)]="addVisible" nzTitle="เพิ่มแผนก" (nzOnCancel)="addCancel()" [nzFooter]="addFooter">
  <form nz-form [nzLayout]="'inline'" [formGroup]="saveForm" (ngSubmit)="submitForm()">
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>รหัสบริษัท</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-select name="select-error" formControlName="companycode">
          <nz-option *ngFor="let option of ddlCompany " [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>รหัสสาขา</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-select name="select-error" formControlName="branchcode">
          <nz-option *ngFor="let option of ddlBranch" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>รหัสแผนก</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-input-group>
          <input formControlName="depcode" nz-input placeholder="รหัสแผนก">
        </nz-input-group>
        <!-- <nz-form-explain *ngIf="validateForm.get('branchName').dirty && validateForm.get('branchName').errors">
          กรุณากรอกชื่อสาขา !</nz-form-explain> -->
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>ชื่อแผนก</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-input-group>
          <input formControlName="depname" nz-input placeholder="Department Name">
        </nz-input-group>
        <!-- <nz-form-explain *ngIf="validateForm.get('departmentName').dirty && validateForm.get('departmentName').errors">Please
          input Department Name!</nz-form-explain> -->
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
      </nz-col>
      <nz-col nzSpan="16">
        <label nz-checkbox formControlName="depactive">
          <span>ใช้งาน</span>
        </label>
      </nz-col>
    </nz-row>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="editVisible" nzTitle="แก้ไขข้อมูลแผนก" (nzOnCancel)="editCancel()" [nzFooter]="editFooter">
  <form nz-form [nzLayout]="'inline'" [formGroup]="editForm" (ngSubmit)="submitForm()">
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>รหัสบริษัท</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-select name="select-error" formControlName="companycode">
          <nz-option *ngFor="let option of ddlCompany " [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>รหัสสาขา</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-select name="select-error" formControlName="branchcode">
          <nz-option *ngFor="let option of ddlBranch" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>รหัสแผนก</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-input-group>
          <input formControlName="depcode" nz-input placeholder="รหัสแผนก">
        </nz-input-group>
        <!-- <nz-form-explain *ngIf="validateForm.get('branchName').dirty && validateForm.get('branchName').errors">
          กรุณากรอกชื่อสาขา !</nz-form-explain> -->
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
        <nz-form-label>ชื่อแผนก</nz-form-label>
      </nz-col>
      <nz-col nzSpan="16">
        <nz-input-group>
          <input formControlName="depname" nz-input placeholder="Department Name">
        </nz-input-group>
        <!-- <nz-form-explain *ngIf="validateForm.get('departmentName').dirty && validateForm.get('departmentName').errors">Please
          input Department Name!</nz-form-explain> -->
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col nzSpan="8">
      </nz-col>
      <nz-col nzSpan="16">
        <label nz-checkbox formControlName="depactive">
          <span>ใช้งาน</span>
        </label>
      </nz-col>
    </nz-row>
  </form>
</nz-modal>
