<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../dashboard']">
      <i nz-icon type="home"></i>Dashboard
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Ask-Question
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card nzTitle="Ask-Question">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Sender</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="sender" placeholder="Sender Name">
        <nz-form-explain *ngIf="validateForm.get('sender').dirty && validateForm.get('sender').errors">
          <ng-container *ngIf="validateForm.get('sender').hasError('required')">
            Please input Sender!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Topic</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="topic" placeholder="Topic">
        <nz-form-explain *ngIf="validateForm.get('topic').dirty && validateForm.get('topic').errors">
          <ng-container *ngIf="validateForm.get('topic').hasError('required')">
            Please input your topic!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="email" placeholder="email" type="email">
        <nz-form-explain *ngIf="validateForm.get('email').dirty&&validateForm.get('email').errors">
          <ng-container *ngIf="validateForm.get('email').hasError('email')">
            The input is not valid E-mail!
          </ng-container>
          <ng-container *ngIf="validateForm.get('email').hasError('required')">
            Please input your E-mail!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <textarea formControlName="description" nz-input rows="5" placeholder="Explain your topic here"></textarea>
        <nz-form-explain *ngIf="validateForm.get('description').dirty&&validateForm.get('description').hasError('required')">Please
          write something here!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-card>
