<nz-card nzTitle="Master Data">
  <div nz-card-grid [ngStyle]="gridStyle">Company</div>
  <div nz-card-grid [ngStyle]="gridStyle">Branch</div>
  <div nz-card-grid [ngStyle]="gridStyle">Department</div>
  <div nz-card-grid [ngStyle]="gridStyle">Team</div>
  <div nz-card-grid [ngStyle]="gridStyle">Employee</div>
</nz-card>
<nz-card nzTitle="Other Menu">
  <div nz-card-grid [ngStyle]="gridStyle">Calendar</div>
  <div nz-card-grid [ngStyle]="gridStyle">Inquiry</div>
  <div nz-card-grid [ngStyle]="gridStyle">Report</div>
</nz-card>
