<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon type="home"></i>Dashboard
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card nzTitle="Master Data">
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/master/company')">Company</div>
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/master/branch')">Branch</div>
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/master/department')">Department</div>
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/master/team')">Team</div>
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/master/employee')">Employee</div>
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/master/supply')">Supply</div>
</nz-card>
<nz-card nzTitle="Other Menu">
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/calendar')">Calendar</div>
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/ask-question')">Ask-Question</div>
  <div nz-card-grid [ngStyle]="gridStyle" (click)="route('/report')">Report</div>
</nz-card>
