<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../dashboard']">
      <i nz-icon type="home"></i>หน้าหลัก
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    จัดการแผนการทำงาน
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card [nzExtra]="addTemplate">
  <nz-calendar [(ngModel)]="selectedValue">
    <ul *nzDateCell="let date" class="events">
      <ng-container [ngSwitch]="date">
        <ng-container *ngSwitchCase="date">
          <li *ngFor="let item of dataSetMontly">
            <div *ngIf="item.start_date == date">
              <label (click)="showModal(item.plan_id)">
                {{item.plan_name}}
              </label>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </nz-calendar>
</nz-card>
<ng-template #addTemplate>
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm">
    <div nz-row nzGutter="20">
      <nz-col class="gutter-row" nzSpan="8" style="text-align:left;">
        <nz-select name="select-error" formControlName="search" (ngModelChange)="onChange($event)">
          <nz-option *ngFor="let option of ddlEmp" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </nz-col>
      <nz-col class="gutter-row" nzSpan="4" nzOffset="12" style="text-align:right;">
        <button nz-button (click)="showModal()" [disabled]="dataOnChange" ><i nz-icon type="plus" theme="outline"></i>เพิ่ม</button>
      </nz-col>
    </div>
  </form>
</ng-template>

<ng-template #modalFooter>
  <nz-row class="pd-row" nzGutter="20">
    <nz-col class="gutter-row" nzSpan="3">
      <button nz-button nzType="danger" (click)="delete(modal_id)"><i nz-icon type="delete"
          theme="outline"></i></button>
    </nz-col>
    <nz-col class="gutter-row" nzSpan="21">
      <button nz-button nzType="default" (click)="handleCancel()">ยกเลิก</button>
      <button nz-button nzType="primary" (click)="handleOk()">ตกลง</button>
    </nz-col>
  </nz-row>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzTitle="ชื่องาน: {{modal_name}}" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" [nzFooter]="modalFooter">
  <form nz-form [nzLayout]="'inline'" [formGroup]="saveForm" (ngSubmit)="submitForm()">
    <nz-row class="pd-row" nzGutter="20">
      <nz-col class="gutter-row" nzSpan="4">
        <b>ชื่องาน:</b>
      </nz-col>
      <nz-col class="gutter-row" nzSpan="20">
        <nz-input-group>
          <nz-col nzSpan="8" style="margin-left: -10px;">
            <input formControlName="plancode" nz-input placeholder="รหัสหน้า">
          </nz-col>
          <nz-col nzSpan="16" style="margin-left: -10px;">
            <input formControlName="planname" nz-input placeholder="ชื่องาน">
          </nz-col>
        </nz-input-group>
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col class="gutter-row" nzSpan="4">
        <b>ประเภทงาน:</b>
      </nz-col>
      <nz-col class="gutter-row" nzSpan="8">
        <nz-select name="select-error" formControlName="plantype">
          <nz-option nzValue="d" nzLabel="Dev"></nz-option>
          <nz-option nzValue="i" nzLabel="Issue"></nz-option>
          <nz-option nzValue="m" nzLabel="Maintenance"></nz-option>
        </nz-select>
      </nz-col>
      <nz-col class="gutter-row" nzSpan="4">
        <b>คะแนน:</b>
      </nz-col>
      <nz-col class="gutter-row" nzSpan="8">
        <nz-input-group>
          <nz-input-number formControlName="points" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-input-group>
      </nz-col>
    </nz-row>
    <nz-row class="pd-row" nzGutter="20">
      <nz-col class="gutter-row" nzSpan="4">
        <b>วันที่:</b>
      </nz-col>
      <nz-col class="gutter-row" nzSpan="8" style="width:unset;">
        <nz-date-picker formControlName="startdate" nzFormat="dd-MMM-yyyy">
        </nz-date-picker>
      </nz-col>
      <nz-row class="pd-row" nzGutter="20">
        <nz-col class="gutter-row" nzSpan="24">
          <label><b>รายละเอียด</b></label>
        </nz-col>
      </nz-row>
      <nz-row class="pd-row" nzGutter="20">
        <nz-col class="gutter-row" nzSpan="24">
          <textarea rows="5" nz-input style="resize:none;" maxlength="100" formControlName="plandesc"></textarea>
        </nz-col>
      </nz-row>
    </nz-row>
  </form>
</nz-modal>

<!-- <nz-modal [(nzVisible)]="isVisible2" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>Content one</p>
  <p>Content two</p>
  <p>Content three</p>
</nz-modal> -->
